:root{
    --background-color:#28334AFF;
    --text-color :#FBDE44FF;

}

body{
    background-color: var(--background-color);
    color: var(--text-color);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}